# Avoid sharing sensitive data
database/dumps/*
env/.env

# Avoid sharing development artifacts
dist/
node_modules/
/frontend/nginx/*.log*
!/frontend/nginx/nginx.conf
tsconfig.tsbuildinfo

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
vetur.config.js
.markdownlint.json