.fr-info-panel .x-tab-strip-bottom .x-tab-right {
	padding: 0 10px;
}
.fr-info-panel .x-panel-header {
	position: relative;
	padding-right: 24px;
	height: 65px;
}
.fr-info-panel .x-panel-header-icon {
	flex: 0 0 65px;
	line-height: 65px;
}
.fr-info-panel .x-panel-header-text {
	line-height: 65px;
}
.fr-info-panel .x-panel-header-icon i {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 30px;
}
.fr-info-panel .x-panel-header-icon i.round {
	border-radius: 50%;
}
.fr-info-panel .closeButton {
	position: absolute;
	right: 15px;
    top: 15px;
}
.fr-details-panel-body {
	padding-bottom:30px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.fr-details-fields {
	display: none;
	margin-top: 10px;
}
.fr-details-fields .field {
	display: table;
	width:100%;
}
.fr-details-fields .field .name {
	display: table-cell;
	width: 32%;
	text-align: right;
	vertical-align: top;
	padding: 5px;
	color: #757575;
}
.fr-details-fields .field .value {
	display: table-cell;
	padding: 5px;
	word-wrap: break-word;
	word-break: break-all;
}
.fr-details-fields .field.title .name {
	width: 80%;
	text-align:left;
	padding-left:15px;
	color: darkgray;
}
.fr-details-fields .field.title .value {
	text-align:right;
}
.fr-details-fields .field.title .editIcon:hover i {
	color: black;
}
.fr-details-fields .field .value a {
	cursor: pointer;
}
.fr-info-panel span.x-tab-strip-text {
	font-size: 1.65em;
}
.fr-info-panel .x-tab-strip-active .fa {
	color: #474747;
}

.fr-details-panel .map {
	text-align:center;
	padding: 5px 0;
}

.fr-details-panel .text {
	float: left;
	margin-left: 15px;
}
.fr-details-panel .size {
	float:right;
	margin-right: 15px;
}

.fr-details-thumb {
	display: none;
	text-align: center;
}

.fr-details-thumb img {
	margin: 5px 0 15px 0;
	cursor: pointer;
	box-shadow: 0 0 4px 0 rgba(0,0,0,.2)
}


.fr-details-panel .x-superboxselect {
	background-color: transparent;
	border-color:transparent;
	padding:10px;
	box-shadow: none;
	max-height:120px;
	overflow: auto;
}
.fr-details-panel .x-superboxselect-item {
	padding: 4px 8px;
	font-size:12px;
	border-radius: 12px;
}
.fr-details-panel .x-superboxselect-input input {
	margin-left: 7px;
	margin-top: 3px;
	font-size: 12px;
}
.fr-details-readme {
	display: none;
	border-top: 1px solid #E5E5E5;
	margin-top:5px;
}


.rating-star li.fa-star,
.rating-star li.fa-minus-circle {
	visibility: hidden;
}
.rating-star:hover li.fa-star,
.rating-star:hover li.fa-minus-circle {
	visibility: visible;
}
.rating-star li.fa-star:hover {
	color: #FFD700;
}
.rating-star.empty li.fa-star {
	visibility:visible;
}
.rating-star .filledstar {
	background-image: url('../images/icons/star.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 1.25em;
	height: 1.21em;
	vertical-align: top;
}