.fr-cart-empty {
	white-space: normal;
	text-align:center;
	line-height: 125%;
}
.fr-cart-item {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin:2px;
    padding:5px;
}
.fr-cart-item .ico {
	width:32px;
	height:32px;
	float: left;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fr-cart-item .ico img {
    max-width: 32px;
    max-height: 32px;
}