/* Grid */
#FR-Grid-Panel .typeSeparator {
	margin-top:20px;
}
#FR-Grid-Panel .x-grid3-header {
	display: none;
}
#FR-Grid-Panel .x-grid3-cell-inner {
	line-height: 40px;
}
#FR-Grid-Panel .x-grid3-td-icon i.gridFolderIcon {
	font-size: 24px;
}
#FR-Grid-Panel .x-grid3-cell {
	position: relative;
}
#FR-Grid-Panel .x-grid3-col-icon {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gridTmb {
	width: 28px;
	height: 28px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.gridTmb.tmbLoaded {
	border:0.5px solid #E5E5E5;
}
#FR-Grid-Panel td.x-grid3-td-icons i.fa {
	margin-right:2px;
}

#FR-Grid-Panel .x-grid-empty {
	position:relative;
	width:320px;
	height: 90px;
}
#FR-Grid-Panel .x-grid-empty .dropIcon {
	float:left;
	margin-right:15px;
	margin-top:15px;
}
#FR-Grid-Panel .x-grid-empty .dropIcon i {
	color:silver;
}

/* Thumb mode */

#FR-Grid-Panel .thumbMode .x-grid3-body {
	padding: 10px 10px 15px 10px;
}
.tmbItem {
	display: inline-block;
	margin: 10px;
	user-select: none;
	cursor: default;
	border-radius: 5px;
	text-align: center;
}
.tmbItem .selOverlay {
	position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
	opacity: 0;
	transition: opacity 200ms;
	border-radius: 5px;
}

.tmbItem.typeFolder {
	height: 40px;
	position:relative;
	text-align:left;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),
		0 3px 1px -2px rgba(0,0,0,0.12),
		0 1px 5px 0 rgba(0,0,0,0.2);
	transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1),
		background-color 200ms;
}
.tmbItem .tmbInner {
	box-shadow: 0 1px 2px 1px silver;
	transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
	position:relative;
	border-radius: 5px;
	background-size:50%;
	background-position:center;
	background-repeat:no-repeat;
}

.x-grid3-row-selected .gridFolderIcon,
.tmbItemSel .gridFolderIcon {
	display: none;
}

.bgTrans {
	transition: background 0.3s ease;
}

.x-grid3 .chkbx {
	z-index: 1;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid silver;
	display: none;
}
.x-grid3 .chkbx i {
	font-size: 13px;
	font-weight: bold;
	color: transparent;
}
.tmbItem .chkbx {
	position: absolute;
	top: 7px;
	left: 7px;
}
.tmbItem .chkbx:hover i,
.x-grid3-cell-inner .chkbx:hover i {
	color: silver;
}

.tmbItemSel .chkbx i,
.tmbItemSel .chkbx:hover i,
.x-grid3-row-selected .chkbx i,
.x-grid3-row-selected .chkbx:hover i {
	color: silver;
}

.x-grid3.withSelection .tmbItem:hover .chkbx,
.x-grid3.withSelection .x-grid3-row:hover .chkbx,
.tmbItemSel .chkbx,
.x-grid3-row-selected .chkbx {
	display: flex;
	justify-content: center;
	align-items: center;
}
.x-grid3-row-selected .gridTmb,
.x-grid3.withSelection .x-grid3-row:hover .gridTmb,
.x-grid3.withSelection .x-grid3-row:hover .gridFolderIcon,
.x-grid3.withSelection .tmbItem:hover .gridFolderIcon,
.tmbItem.typeFolder.dragged-over:hover .chkbx {
	display: none;
}

.tmbItem.typeFolder.dragged-over:hover .gridFolderIcon {
	display: block;
}
.x-grid3-hd-icon i {
	visibility: hidden;
}
.x-grid3-hd-icon:hover i {
	visibility: visible;
}

.tmbItem .name {
	overflow: hidden;
	padding-top:8px;
	white-space:nowrap;
	max-width: 94%;
	display:inline-block;
	vertical-align:middle;
	text-overflow:ellipsis;
	color: #474747;
	line-height: 15px;
}

.x-grid3-td-extension {
	color: silver;
	text-transform: uppercase;
	font-size: 11px;
}
.tmbItem .thumbFolder .name {
	padding-top:0;
	font-weight: 500;
}

.extLabel {
	position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px 0 5px 0;
    padding: 2px 4px;
	color: white;
	font-weight: bold;
	font-size:11px;
}

.iconsHolder {
	position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
	border-radius: 0 5px 0 5px;
    padding: 2px 5px 2px 0;
}
.iconsHolder:empty {display:none;}

.iconsHolder i {
	color: gray;
	margin-left:5px;
}

.tmbItem.typeFolder .iconsHolder {
	font-size: 10px;
	right:0;
	left:unset;
	border-radius: 5px 0 5px 0;
}
.tmbItem .thumbFolder {
	height: 40px;
	width: 100%;
}

.tmbItem .thumbFolder .icon {
	width: 43px;
	text-align: center;
	font-size:16px;
}
.tmbItem .thumbFolder .font-icon,
#FR-Grid-Panel .x-grid3-row .font-icon {
	font-style: normal;
	text-align: center;
	font-size: 1.33333em;
	font-family: 'Font Awesome 5 Pro';
	color: #898989;
}

.tmbItem .label {
	position:relative;
}
.tmbItem .label .FRLabel {
	position:absolute;
	top: -11px;
	right: 7px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 11px;
	max-width: 100px;
	font-size:8px;
	padding: 1px 3px;
}
.x-grid3-td-label .FRLabel {
	display: inline;
}
.dragging {
	opacity: 0.3;
	pointer-events: none;
}
.tmbItemSel {
}
.tmbItemSel .selOverlay {
	opacity: 0.12;
}
.tmbItemSel .tmbInner,
.tmbItemSel.typeFolder {
	background-color: #E2E2E2;
	box-shadow: 0 0 0 1px #969696;
}
/*.tmbItemSel.typeFolder {
	background-color: #E8F0FE;
	box-shadow: 0px 0px 0px 2px #1967D2;
}*/

.tmbItem.typeFolder.dragged-over {
	box-shadow: inset 0 0 0 2px #969696 !important;
	background-color: #EEEEEE !important;
}

/* end Thumb mode */

/* Photo mode */

#FR-Grid-Panel .photoMode .x-grid3-body {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	padding: 5px;
	grid-gap: 5px;
	align-items: stretch;
	height: auto !important;
}
#FR-Grid-Panel .photoMode .x-grid-empty {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#FR-Grid-Panel .photoMode .tmbItem {
	margin:0;
	width:100%;
	height: 200px;
	border-radius: 0;
	float: none;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: background 0.3s ease, box-shadow 0.3s ease;
	position: relative;
}
#FR-Grid-Panel .photoMode .tmbItemSel {
	box-shadow: inset 0 0 0 2px #969696 !important;
	background-color: #E2E2E2;
}

#FR-Grid-Panel .photoMode .tmbItem .label div {
	top: 2px;
	right: 2px;
	border-radius: 0;
}

.ext-ie #FR-Grid-Panel .photoMode .x-grid3-body {
	display: block;
	padding: 15px 10px;
}
.ext-ie #FR-Grid-Panel .photoMode .tmbItem {
	float: left;
	width: 200px;
	margin: 5px;
}

/* end Photo mode */