.headerTbar {
	padding: 0 !important;
}
.headerTbar .frBtn {
	width: 42px;
	margin: 5px;
	line-height: 42px;
}
.headerTbar .frBtn.x-btn-pressed,
.headerTbar .frBtn.x-btn-menu-active {
	background-color: rgba(51, 51, 51, 0.25);
}
.headerTbar .frBtn i {
    font-size: 21px;
}
.fr-btn-user {
	margin-right: 12px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 3px solid transparent;
}
.fr-btn-user i {
	display: block;
	width: 100%;
    height: 100%;
	border-radius: 50%;
	background-size:contain;
}
.fr-btn-user {
	border-color: rgba(238, 238, 238, .3);
}
.headerTbar .x-toolbar-ct {
	height: 64px;
}
.headerTbar .xtb-sep {
	height: 35px;
	margin-left:10px;
	margin-right:10px;
	border-color: #E5E5E5;
}

.fr-btn-tree-toggle {
	margin-left: 12px;
}

.fr-btn-new {
	margin-left: 14px;
	border-radius: 20px;
	color: #3C4043;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,.12);
}
.fr-btn-new .fa {
	color: black;
	font-weight: bold;
	margin-left: 6px;
	margin-right: 6px;
}
.fr-btn-new span {
	margin-right:12px;
	font-size: 16px;
}
.fr-btn-new:hover {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,.12);
	background-color: #EEEEEE;
}
.fr-btn-new.x-btn-click {
	box-shadow: none;
}

.fr-btn-file-picker {
	border-radius: 20px;
	padding-left:10px;
	padding-right:12px;
}

.fr-btn-search {
	margin-left:10px;
}