#explorer-shadow {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
	height:64px;
	width: 100%;
	position:absolute;
	top:0;
	z-index:150;
	pointer-events: none;
}

#logoContainer {
	height:38px;
	margin-left:14px;
	overflow:hidden;
}
#logoContainer img {max-height:38px;}

.logo3d {
	margin-left: 28px;
	margin-right: 12px;
	font-size: 23px !important;
	color: #474747;
}
.logo3d a {
	color: #474747;
	cursor: pointer;
	text-decoration: none;
}

#FR-Center-Region,
#FR-Info-Region {
	box-shadow: 0 0 10px 0 silver;
}

#FR-Tree-Region-xsplit,
#FR-Info-Region-xsplit {
	border: none;
	background-color: transparent;
}
#FR-Info-Region-xsplit .x-layout-mini {
	visibility:hidden;
}

#FR-Info-Region-xcollapsed,
#ImageViewerInfoPanel-xcollapsed,
#FR-AudioPlayer-xcollapsed,
#FR-SearchPanel-xcollapsed {
	display: none !important;
}
#FR-SearchPanel {
	border-bottom: 1px solid #E5E5E5;
}
#FR-Info-Region .x-list-body-inner {
	padding-bottom: 40px;
}

.bubbleCount {
	position:absolute;
	right: -2px;
	top: -30px;
}
.bubbleCount div {
	font-weight: bold;
	border-radius: 50%;
	font-size:8px;
	padding:2px 5px;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
	background-color: #969696;
	color:white;
}
.bubbleCount.alert div {
	background-color: #E43539;
}
.fr-info-panel .x-tab-strip-active .bubbleCount {
	display: none;
}


#FR-AudioPlayer .x-panel-body {
	padding-top: 7px;
	box-shadow: grey 0 5px 7px -5px inset;
}
#FR-AudioPlayer iframe {
	height:100%;width:100%;
	border:0;padding:0;
	overflow:hidden;
}


.FRLabel {
	display:inline-block;
	padding:3px;
	color:white;
	text-shadow:
			0.05em 0 black,
			0 0.05em black,
			-0.05em 0 black,
			0 -0.05em black;
	font-weight:bolder;
	font-size:9px;
}


/* Nav bar */
.FR-NavBar .x-btn-noicon {
	line-height: 25px;
	padding: 0 5px;
}
.FR-NavBar .frBtn span {
	color: #777777;
}
.x-toolbar.fr-nav-bar {
	padding-top:7px;
	padding-left: 11px;
	user-select: none;
	border-bottom: 0.5px solid #E5E5E5;
}
.fr-nav-bar .x-btn-icon {
	margin-right:7px;
	height: 28px;
    width: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
	font-size:16px;
}

.dragged-over {
	box-shadow: inset 0 0 0 2px #969696 !important;
	background-color: #EEEEEE !important;
}

.fr-absolute-mask {
	z-index: 999999;
}
.fr-absolute-mask-msg {
	z-index: 9999999;
}

#LinkURLField {
	font-size: 14px;
	border: none;
	border-radius: 4px;
	background-color: #f1f3f4;
	color: #3c4043;
}