.container {
	margin-top:10%;
}
.perms {
	text-align:center;
	margin:2em 0;
}
.perms-large {
	margin-top: 2em;
	text-align: center;
	display: none;
}
@media (min-width: 550px) {
	.container {
		margin-top: 1%;
	}
	.perms {
		display: none;
	}
	.perms-large {
		display: block;
	}
}
@media (min-width: 750px) {
	.container {
		margin-top: 10%;
	}
	.withList {
		margin-top: 1%;
	}
}

.logo {
	height: 60px;
	width: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.permsList {
	border:1px solid silver;
	max-height:200px;
	overflow-y:auto;
	padding: 1em 1em 0 1em;
	border-radius:5px;
}
.appBox {
	min-width:200px;
	border-radius: 5px;
	padding:0.8em;
	background-color: whitesmoke;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
	min-height: 62px;
}
.appBox .u-cf {
	margin:0 auto;
}
.appBox .u-cf .u-pull-left {
	max-height:60px
}
.appBox .appDetails {
	font-size:1.2em;
	margin:5px;
}
.appDetails .sub {
	color:gray;
	font-size:0.8em
}


.loggedAs:hover .signOut, .loggedAs:focus .signOut {
	display: block;
}
.avatar {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	vertical-align:middle;
	margin: 0 5px;
}
.signOut {
	position:absolute;
	top:0px;
	right:-40px;
	width: 200px;
	padding:30px;
	text-align:center;
	background-color:white;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
	display:none;
}
span.nowrap-bold {
	white-space:nowrap;
	font-weight:bold;
}