body {
	background-color: white;
	max-width: 790px;
	color: gray;
	cursor: default;
	font: 11px 'Roboto', Helvetica, sans-serif;
	padding: 5px;
}
blockquote {
	border-radius:5px;
	background-color:whitesmoke;
	padding: 5px;
}
code {
	display: inline-block;
	background-color:whitesmoke;
	padding: 5px;
}
hr {
	border: 1px solid silver;
	border-bottom: none;
}