html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	height: 100%;
}
body {
    font: 13px 'Roboto', Helvetica, sans-serif;
    color: #222222;
	cursor: default;
	overflow: hidden;
	background: white no-repeat center center fixed;
	background-size: cover;
}
a {
	color: #1A73E8;
	text-decoration: none;
}
a:hover {text-decoration: underline;}
#loadMsg {
	text-align:center;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 30px;
	font-family: Helvetica, sans-serif;
}
#loadMsg div {
	background-color:white;
	border-radius:2px;
	padding:10px;
	box-shadow: 0 4px 8px rgba(0,0,0,.32),0 8px 40px rgba(0,0,0,.4);
}
body * {
	scrollbar-width: thin;
}
::-webkit-scrollbar,
scrollbar-width {
	width: 6px;
}
::-webkit-scrollbar,
scrollbar-height {
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #CCCCCC;
}

table {font-size: 13px;}
table.niceborder {
    background-color: silver;
}
table.niceborder a {
    color: navy;
}
table.niceborder tr.header td {
    background-color: whitesmoke;
    font-weight:bold;
}
table.niceborder td {
    background-color: white;
    padding: 2px;
}
table.niceborder td.header {
    background-color: whitesmoke;
    font-weight:bold;
}

.basicAvatar {
	border-radius: 50%;
	height: 35px;
	width: 35px;
	background-size: cover;
}
.basicAvatar.smaller {
	width: 20px;
	height: 20px;
}
.basicAvatar.square {
	border-radius: 0;
}

.avatarSelector * {
	border-radius:50%;
}
.avatarSelector .cameraIcon {
	background-image:url(../images/icons/camera_overlay.png);
	background-repeat:no-repeat;
	background-size: 24px;
	background-position:center;
	background-color: #343434;
	height:60px;
	width:60px;
	position:absolute;
	top:0;
	left:0;
	opacity: 0.8;
	visibility:hidden;
}
.avatarSelector:hover .cameraIcon {visibility:visible;}


.fr-feedback-msg {
	border-radius: 2px;
	box-shadow: 0 0 5px #888;
	background-color: #323232;
	color: white;
	padding: 15px;
	margin:20px;
}
.fr-feedback-msg.error {
	background-color: #c53929;
}
.fr-feedback-msg:hover {
	opacity:0.2;
}


.colorRed {color:red;}
.colorGray, .gray {color:gray;}
.silver {color: silver;}

.fa.icon-white {color: white !important;}
.fa.icon-silver {color: #8F8F8F;}
.fa.icon-red {color:#c53929;}
.fa.icon-gray {color: #777777;}
.fa.icon-blue {color: #4285F4;}
.fa.icon-green {color: green;}