#explorer-shadow {
	display: none;
}
#FR-Tree-Region .x-panel-body,
#FR-Info-Region .x-panel-body,
#FR-Info-Region .x-panel-header,
#FR-Info-Region .x-tab-panel-footer,
#FR-Tree-Region-xsplit, #FR-Info-Region-xsplit {
	background-color: #F3F2F1;
}

.headerTbar .x-toolbar-ct {
	height: 50px;
}

.x-tree-node .x-tree-selected a {
	color: #201F1E;
}
.x-tree-node .x-tree-selected,
.x-list-selected, .x-progress-inner, .ux-progress-cell-background {
	background-color: #E1DFDD;
}

.tmbItem.typeFolder,
.tmbItem .tmbInner {
	border: 1px solid #f3f2f1;
}

.tmbItemSel.typeFolder,
#FR-Grid-Panel .photoMode .tmbItemSel,
.x-grid3-row-selected {
	background-color: #EDEBE9;
	border-color: transparent;
}
.tmbItem .selOverlay {
	background-color: gray;
}


.x-tree-node-el,
.tmbItem,
.tmbItem .tmbInner,
.tmbItem .selOverlay,
.headerTbar .frBtn,
.fr-nav-bar .frBtn,
.fr-nav-bar .x-btn-icon,
.extLabel,
.iconsHolder,
.tmbItem.typeFolder .iconsHolder {
	border-radius:0;
}

.x-toolbar.fr-nav-bar {
	padding: 0 0 0 5px;
}
.fr-nav-bar .frBtn {
	height: 40px;
	margin: 0;
	line-height: 40px;
}
.fr-nav-bar .fa-angle-right {
	margin-left:4px;
	margin-right:4px;
}
.fr-nav-bar .x-btn-icon {
    width: 40px;
	font-size:16px;
	margin-right:0;
}
.x-toolbar.fr-nav-bar {
	border-width: 1px;
}
.fr-nav-bar .x-btn-icon.x-btn-pressed {
	background-color: #EDEBE9;
}
.fr-nav-bar .frBtn:hover {
	background-color: #F3F2F1;
}
.fr-nav-bar .x-btn-icon:hover i {
	color: #106EBE;
}

.headerTbar .frBtn.fr-btn-user {
	border-radius: 50%;
	border:1px solid white;
	width: 42px;
}
.headerTbar .frBtn {
	margin-top:0;
	margin-bottom:0;
	line-height: 50px;
	width: 50px;
}

.x-btn-icon:hover,
.fr-btn-new:hover {
	background-color: #004D88;
}

.headerTbar .frBtn:hover i,
.x-btn-icon:hover i {
	color: white;
}
.x-tree-node-el:hover {
	background-color: #EDEBE9;
}

.x-window,
.x-menu-floating {
	border-radius:2px;
}
.fr-btn-new {
	background-color: transparent;
	box-shadow: none;
	color: white;
}
.fr-btn-new .fa {
	color: white;
}
.fa-folder {
	color: #FFB900;
}

.x-toolbar.FR-NavBar {
	padding:0;
}
.FR-NavBar .frBtn span {
	color: black;
	font-size: 14px;
}

.fr-info-panel .x-toolbar,
.fr-info-panel  .x-layout-split {
	background-color: transparent;
}



#FR-Info-Region-xsplit {
	border-right: 1px solid #F3F2F1;
}
#FR-Center-Region, #FR-Info-Region,
.tmbItem.typeFolder,
.tmbItem .tmbInner,
.fr-nav-bar .frBtn:hover {
	box-shadow: none;
}

.sysConfMenuItem {
	background-color: white;
}