#explorer-shadow {
	display: none;
}
.headerTbar {
	background-color: white;
	border-bottom: 1px solid #dadce0;
}

.logo3d, .logo3d a,
.headerTbar .fa,
.headerTbar .frBtn.x-btn-pressed i,
.fa-folder {
	color: #5F6368;
}
.headerTbar .xtb-sep {
	border-color: #dadce0;
}
.x-btn-icon.x-btn-pressed, .x-btn-icon.x-btn-click, .x-btn-icon.x-btn-menu-active {
	background-color: #E8F0FE;
}
.FR-NavBar .frBtn span {
	color: black;
	font-size: 14px;
}
.fr-btn-new .fa {
	color: #4285F4;
}

#FR-Info-Region-xsplit {
	border-right: 1px solid #dadce0;
}
#FR-Center-Region, #FR-Info-Region,
.tmbItem.typeFolder,
.tmbItem .tmbInner {
	box-shadow: none;
}
.tmbItem.typeFolder,
.tmbItem .tmbInner {
	border: 1px solid #dadce0;
}