.themeColorMain {color: [MAIN];}
.themeColorDark {color: [DARK];}
.themeColorLight {color: [LIGHT];}
.themeColorLighter {color: [LIGHTER];}

.headerTbar,
.fr-btn-primary, .fr-btn-primary:hover,
.x-date-inner .x-date-selected a,
.x-combo-list .x-combo-selected,
.comment.own .text,
.bubbleCount div,
.fr-prv-nav-btn-hover,
.x-progress-bar,
.ux-progress-cell-foreground,
.tmbItemSel .chkbx,
.x-grid3-row-selected .chkbx {
	background-color: [MAIN];
}

.tmbItemSel .chkbx,
.x-grid3-row-selected .chkbx {
	border-color: [MAIN];
}

.headerTbar .x-item-disabled * {
	color: initial !important;
}

.comment.own .text .inner:after,
.comment.own .text .inner:before {
	border-left-color: [MAIN];
}

.logo3d,
.logo3d a,
.headerTbar .fa,
.x-combo-list .x-combo-selected,
.headerTbar .frBtn.x-btn-pressed i,
.tmbItemSel .chkbx i,
.tmbItemSel .chkbx:hover i,
.x-grid3-row-selected .chkbx i,
.x-grid3-row-selected .chkbx:hover i {
	color: white;
}

.fr-btn-new {
	background-color: white;
}

a,
.fr-btn-link,
.fr-btn-new .fa,
.fr-details-fields .field.title .value a:hover,
.fr-details-fields .field.title .editIcon:hover i,
.x-tab-strip-active span.x-tab-strip-text,
.x-superboxselect-btns li:hover,
.x-superboxselect-locked .x-superboxselect-item:hover,
.headerTbar .frBtn:hover i,
.x-btn-icon.x-btn-pressed i, .x-btn-icon.x-btn-click i,
.lang-select {
	color: [MAIN];
}

.fa-folder {
	color: [LIGHT];
}

.tmbItemSel .tmbInner {
	background-color: transparent;
}
.tmbItem .selOverlay {
	background-color: [MAIN];
}

.x-tree-node .x-tree-selected,
.tmbItemSel.typeFolder,
#FR-Grid-Panel .photoMode .tmbItemSel,
.x-grid3-row-selected,
.x-list-selected,
.x-progress-inner,
.ux-progress-cell-background {
	background-color: [LIGHTER];
}

.x-grid3-row-selected .ux-progress-cell-background {
	background-color: [LIGHT];
}

.x-tree-node .x-tree-selected a,
.x-grid3-row-selected,
.tmbItemSel .name,
.fr-info-panel .x-tab-strip-active .fa{
	color: [DARK];
}

.tmbItemSel .tmbInner,
.tmbItemSel.typeFolder {
    box-shadow: 0 0 0 1px [DARK];
}

#FR-Grid-Panel .photoMode .tmbItemSel {
	box-shadow: inset 0 0 0 2px [DARK] !important;
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right,
.x-tab-strip-top .x-tab-strip-active .x-tab-right,
.x-form-focus,
textarea.x-form-focus {
	border-color: [MAIN];
}

.headerTbar .xtb-sep {
	border-color: white;
	opacity: 0.3;
}

.tmbItem.typeFolder.dragged-over,
.x-tree-node .x-tree-drag-append,
.dragged-over {
	box-shadow: inset 0 0 0 2px [DARK] !important;
	background-color: [LIGHTER] !important;
}