<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</IfModule>
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

<IfModule mod_php5.c>
   php_value error_reporting 22519
   php_flag allow_url_include 0
   php_flag allow_webdav_methods 1
   php_value memory_limit 256M
   php_value max_execution_time 300
   php_flag output_buffering 0
   php_flag zlib.output_compression 0
   php_flag file_uploads 1
   php_value max_file_uploads 10
   php_value upload_max_filesize 20M
   php_value post_max_size 20M
   php_flag enable_dl 0
   php_value default_charset 'UTF-8'
</IfModule>
<IfModule mod_php7.c>
    php_value error_reporting 22519
    php_flag allow_url_include 0
    php_flag allow_webdav_methods 1
    php_value memory_limit 256M
    php_value max_execution_time 300
    php_flag output_buffering 0
    php_flag zlib.output_compression 0
    php_flag file_uploads 1
    php_value max_file_uploads 10
    php_value upload_max_filesize 20M
    php_value post_max_size 20M
    php_flag enable_dl 0
    php_value default_charset 'UTF-8'
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

AddDefaultCharset utf-8
Options -Indexes