
*{
	marging: 0;
	padding: 0;
}
#Tittle{
	height: 60px;
	padding-top: 20px;
	padding-left: 30px;
	color: #6B96F9;
	border-radius: 20px;
	border-style: groove;
	background-color: #DFE0E4;
}
#search{
	font-weight: 900;
	border-style: groove;
	border-radius: 20px;
	background-color: #DFE0E4;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}
#bottoms{
	width: 100%;
}
#bottom{
	width: 80%;
	border-color: #DFE0E4;	
	border-style: groove;
	border-radius: 20px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px; 
	background-color: #DFE0E4;
}
#download{
	border-colro: #DFE0E4;
	border-style: groove;
	padding-left: 30px;
	padding-top:10px;
	border-radius: 20px;
	margin-left: 5%;
	width: 90%;
	background-color: #DFE0EA;
}
#identifier{
	padding-left: 5px;
	padding-right: 10px;
	font-weight: normal;
	border-style:groove;
	border-radius: 10px;
	background-color: #B1C7FA;
}
#identifier:hover{
	background-color: white;
}
#xml_section{
	font-weight: 900;
	border-style: groove;
	border-radius: 10px;
	background-color:#DFE0E4;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#xml{
	font-weight: normal;
	border-style: groove;
	border-radius: 10px;
	background-color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-botttom: 10px;
}
