*{
	margin: 0;
	padding: 0;
}
section{
	left: 50%;
	margin-left: 2000px;
	width: 50%;
	margin: 0 auto;
}
article{
	padding: 80px 0 20px 50px;
}
.data{
	font-weight: normal;
}
#data_identify{
	margin-left: 100px;
}
#main{
	left: 50%;
	border-top: 1px dotted darkgrey;
	border-bottom: 1px dotted darkgrey;
}
