.x-superboxselect {
	position:relative;
	height: auto !important;
	margin: 0;
	overflow: hidden;
	padding:2px;
	display:block;
	outline: none !important;
	min-height: 28px;
}
.x-superboxselect ul {
	cursor: text;
}
.x-superboxselect .x-superboxselect-btn-edit {
	display:none;
}
.x-superboxselect-display-btns {
	padding-right: 25px !important;
}

.x-superboxselect-locked .x-superboxselect-input,
.x-superboxselect-locked .x-superboxselect-btn-lock {
	display: none;
}
.x-superboxselect-locked:hover .x-superboxselect-btn-edit {
	display:block;
}

.x-superboxselect-btns {
	position: absolute;
	right: 0;
	top: 5px;
	overflow: hidden;
}
.x-superboxselect-btns li {
	margin:5px;
	color: gray;
	font-size:15px;
}
.x-superboxselect-btns li:hover {
	cursor: pointer;
	color: black;
}
.x-superboxselect-btn-hide {display:none;}

.x-superboxselect-stacked li {float: none !important;}
.x-superboxselect-input input {
	float: left; margin: 2px 4px;
	padding: 4px;
	border: none; outline: none;
	box-shadow:none !important;
}
.x-superboxselect-item {
	white-space: normal !important;
	float: left; margin: 2px;
	padding: 3px 5px;
	cursor: default;
	min-width:14px;
	max-width: 200px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	border: 1px solid #E5E5E5;
	background-color: white;
}

.x-superboxselect-item-focus {
	background: #EEEEEE;
	border-color: #969696;
}
.x-superboxselect-item-close {
	position:absolute;
	top:5px;
	right:5px;
	border:1px solid silver;
	background-color:white;
	border-radius:2px;
	height: 12px;
	width: 12px;
	float: right;
	cursor:pointer;
	display: none;
	font-family: 'Font Awesome 5 Pro';
	font-size: 10px;
    text-align: center;
	box-shadow: 0 0 2px gray;
}
.x-superboxselect-item-close:before {
	content: "\f00d";
}
.x-superboxselect-item-close:hover {
	border-color:red;
	background-color:red;
	color: white;
}
.x-superboxselect-item:hover .x-superboxselect-item-close {
	display:block;
}
.x-superboxselect-locked .x-superboxselect-item:hover {
	cursor:pointer;
	color: #1A73E8;
}
.x-superboxselect-locked .x-superboxselect-item:hover .x-superboxselect-item-close {
	display:none;
}