body {
	margin: 0;
	font-family: Arial,sans-serif;
	font-size:16px;
	cursor:default;
	background-color: #EEEEEE;
	overflow: hidden;
	display: flex;
	height: 100vh;
	flex-direction: column;
}
a {
	text-decoration:none;
}
.header {
	min-height: 30px;
	background-color: white;
	padding:10px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}
.header .left {
	float:left;
	padding: 10px;
}
.header .right {
	float:right;
	margin: 5px 0;
}
.breadCrumb {
	font-size:24px;
	color: #212121;
	padding: 1px 6px;
}
.breadCrumb:hover {
	color: #212121;
	text-decoration: none;
	background-color: rgba(0,0,0,.06);
}
.bcSep {
	color: #777;
	font-size:24px;
	margin-left:5px;
	margin-right:5px;
	display: inline-block;
}
.header .details {
	color: #777;
	display: inline-block;
	font-size: 14px;
	padding: 0 20px;
}
.main {
	flex: 1;
	overflow:auto;
	padding: 0 30px;
}

.itemsList {
	max-width:900px;
	margin: 30px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
}
.itemsList a {
	text-decoration:none;
}
.item {
	width: 100%;
	background-color:white;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
	display: flex;
	align-items: center;
	cursor: pointer;
}
.item .icon {
	width: 48px;
	height: 48px;
	background-position:center;
	background-size: 50%;
	background-repeat:no-repeat;
}
.item .filename {
	flex: 1;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 10px;
	color: rgba(0,0,0,.72);
	font-size: 14px;
	white-space: nowrap;
}
.item.file {
	flex-direction: column;
}
.filenameRow {
	display: flex;
	align-items: center;
	width: 100%;
}
.filenameRow:hover .icon {
	background-image: url(../img/download.png) !important;
	background-size: 80% !important;
}
.thumb {
	display: block;
	width: 100%;
	min-height: 130px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
}
.tmbicon {
	background-size: 50%;
}
.actionBtn {
	padding:10px 15px;
	display: inline-block;
	cursor: hand;
	border-radius: 2px;
	color: #4285f4;
	text-transform: uppercase;
	transition: color 200ms cubic-bezier(0.4,0.0,0.2,1),background 200ms cubic-bezier(0.4,0.0,0.2,1),box-shadow 400ms cubic-bezier(0.4,0.0,0.2,1);
}
.actionBtn:hover {
	background: rgba(0,0,0,.12);
	text-decoration: none;
	color: #4285f4;
}
.actionBtn:active {
	background-color: rgba(0, 0, 0, 0.26);
}

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 2;
	cursor: default;
}
.panel {
	position: absolute;
	background-color:white;
	width: 400px;
	font-size:14px;
	border-radius: 2px;
	box-shadow: 0 4px 8px rgba(0,0,0,.32),0 8px 40px rgba(0,0,0,.4);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding:20px;
}
.panel-contents {
	margin-bottom:20px;
	border:1px solid #ebebeb;
	height:200px;
	width: 100%;
	overflow-y:auto;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.panel-contents div {margin:10px;}
.overlay#upload .panel {
	width: 80%;
}
.overlay#upload .panel-contents {
	height: 300px;
}


.acceptBtn {margin-right:10px;}
.cancelBtn, .cancelBtn:hover {
	color: black;
}


@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	/* IE10/11 */
	.itemsList {
		clear: both;
	}
	.item {
		width: 154px;
		float: left;
		margin: 10px;
	}
}